{
  "extends": ["airbnb-typescript-prettier"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.ts",
        "**/*.test.ts",
        "**/*.spec.tsx",
        "**/*.test.tsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
