{
  "extends": ["airbnb-typescript-prettier"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-console": ["error", { "allow": ["error"] }]
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.ts",
        "**/*.test.ts",
        "**/*.spec.tsx",
        "**/*.test.tsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
