.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-light {
  background-color: #cce5ff !important;
}

html,
body,
#root {
  height: 100%;
}

.container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #2e99c8;
  background-image: linear-gradient(180deg, #daebf3, #389ecb);
  background-clip: content-box;
}

.no-scroll {
  overflow: hidden;
}

.auto-scroll {
  overflow: auto;
}

.vertical-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-height: 956px) {
  .vertical-scroll {
    overflow: hidden;
  }
}

.flex-full {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-disp {
  display: flex;
}

.full-height {
  max-height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */

input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
  border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #ee4037;
  border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #ee4037;
}

.divider {
  position: relative;
  height: 1px;
}

.divider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.sketchy {
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;
}

.sketchy::before {
  content: '';
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.init-first-row::after {
  content: '\00a0OR\00a0';
  border: 2px solid #353535;
  position: absolute;
  bottom: -1rem;
  font-size: 0.8rem;
  left: calc(50% - 1rem);
  font-weight: bolder;
  background-color: #95d1ec;
  z-index: 1;
  border-radius: 4px;
}

.init-row {
  flex: 1;
  margin: 3px -5px 3px -5px;
  font-size: 0.8rem;
}

.init-row button {
  font-size: 1rem;
}

.init-header-text-row {
  font-size: 1rem;
}

.init-share-code-button {
  margin-bottom: 1px;
  padding: 0;
  line-height: 1;
}

.init-camera-button {
  padding: .3rem 1rem;
  line-height: 1;
}

.qr-modal-backdrop {
  z-index: 1060;
  background-color: #f3f3f37a;
}